h1{
    position: absolute;
    top: 70px;
    font-family: SF Pro Display Regular,  sans-serif;
    font-size: 25px;
}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    
}
.buttons{
    width: max-content;
}
button{
    margin: 0px 50px;
    width: 50%;
    height: 50px;
}